<!DOCTYPE html>
<html lang="{{ site.LanguageCode | default "en" }}" class="{{ if (eq .Site.Params.defaultTheme "light") }}light{{ else if (eq .Site.Params.defaultTheme "dark") }}dark{{ end }} h-full">
  {{- partial "site_head.html" . -}}
  <body class="flex min-h-full flex-col text-neutral-900 antialiased">
    {{- partial "site_header.html" . -}}
    <main class="w-full mx-auto p-2">
      {{- block "main" . }}{{- end }}
    </main>
    {{- partial "float_menu_buttons.html" . -}}
    {{- partial "site_footer.html" . -}}
  </body>
</html>
