<div class="flex flex-col fixed bottom-0 right-0 p-4">
  <div class="flex flex-col">
    {{ range .Site.Params.buttons }}
      {{ if eq .title "whatsapp" }}
        {{ $numeroTelefone := .phone }}
        {{ $mensagem := .message }}
        <a class="floating-button" href="{{ printf "https://api.whatsapp.com/send?phone=%s&text=%s" $numeroTelefone $mensagem }}" target="_blank" title="Iniciar conversa no WhatsApp">
          <img src="{{ "images/whatsapp.png" | relURL }}" alt="Ícone do WhatsApp" class="icon">
        </a>
      {{ else }}
        <a class="floating-button" href="{{ .link }}" target="_blank" title="{{ .hover }}">
          <img src="{{ .image | relURL }}" alt="icone" class="icon">
        </a>
      {{ end }}
    {{ end }}
  </div>

</div>
